/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
docker-compose.override.yml
user.ini
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea
/.vscode
/data/konsep.jpeg
/tmp/
*.log
/bootstrap/cache/*.php
/Aplikasi/
